<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editare</title>
</head>
<body>
    <form action="/edit/<%= post.id%>" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= post.title%>" required>

        <label for="descrirere">Desciere:</label>
        <textarea id="descriere" name="descriere" rows="4" required><%= post.descriere%></textarea>
        
        <button type="submit">Salveaza</button>
    </form>
</body>
</html>