<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
</head>
<body>
    <div class="d-flex">
        <%-include("./partials/sidebar.ejs")%>
        <div class="d-flex flex-column justify-content-center text-center align-items-center">
            <div class = "flex-grow-1 p-4">
                <h1> Quotes </h1>
                <h2> Vrei sa adaugi un citat? Apasa <a href="/adaugareCitat"> aici </a> </h2>
                <% quotes.forEach(citat => { %>
                <ul>
                        <li>
                            <h1> <i> "<%= citat.titlu %>" </i> </h1>
                            <h2> <a href="/stergeCitat/<%=citat.id%>"> Sterge Citat </a> </h2>
                        </li>
                    </ul> 
                <% }); %>
                </div>
            <%- include("./partials/footer.ejs") %>
        </div>
    </div>
</body>
</html>